<div style="padding:50px;background-color:rgb(79, 197, 79)">
    <h2>Add New Article</h2>
    <p>Remember every detail should be added, if present. <br/> Go back to <a href="/dashboard?token={{this.token}}">Dashboard</a></p>
    <form action="/add/article?token={{this.token}}" method="POST">
    
    </form>
</div>