<h1>Dashboard: Admin Panel IIITKOTA</h1>

<div className="row">
  <div className="col-lg-3 crd">
    Generate cloud stored link
    <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
      <h2>Select an image to upload:</h2>
      <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
      <div><input type="submit" value="Upload Image"></div>
    </form>
  </div>
</div>

{{!-- <p id="message">{{message}}</p> --}}

{{!-- <h2>Links Generated</h2>
{{#each this.resources1}}
  <p><i>Link: </i>https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}</p>
{{/each}} --}}

<hr>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if (!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>