body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.upload-container {
  border: solid 1px #ccc;
  padding: 10px;
  max-width: fit-content;
  margin-bottom: 10px
}
.crd{
  border-radius: 6px;
  border:1px solid #ffffff;
  background-color: sandybrown;
  padding: 2%;
  color:whitesmoke;
  font-size: large;
}

.crd:hover{
  background-color: salmon;
}
